{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

        {% block content %}



        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Blog Post Details</h2>
						<div class="page_link">
							<a href="{% url 'index' %}">Home</a>
							
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Blog Area =================-->
        <section class="blog_area p_120 single-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                     
       					<div class="main_blog_details">
       						<img class="img-fluid" src="{{ single.image.url }}" style="width:700px;height:350px;" alt="">
       						<a href="#"><h4>{{ single.title }}</h4></a>
       						<div class="user_details">
       							<div class="float-left">
                                   {% for tag in single.tag.all %}
       								<a href="{% url 'tag_detail' tag.slug %}">{{ tag.title }}</a>
       								

                                       {% endfor %}
       							</div>
       							<div class="float-right">
       								<div class="media">
       									<div class="media-body">
       										<h5>Author :<a href="{% url 'users:user_posts' single.user.pk %}"> {{ single.user.username }}</a></h5>
       										<p>{{ single.publishing_date }}</p>
       									</div>
       									<div class="d-flex">
       										<img src="{{ single.user.image.url }}" alt="">
       									</div>
       								</div>
                                       
       							</div>
       						</div>
       						<p>{{ single.content }}</p>

                               {%  if single.user == request.user %}
                            <a class="genric-btn info circle" href="{% url 'update_post' single.pk single.slug %}">Update</a>
                            <a class="genric-btn danger circle" href="{% url 'delete_post' single.pk single.slug %}">Delete</a>
                                {% endif %}
                               
                                
                                
      						<div class="news_d_footer">
                              
                                                     
                               
      							<a href="#"><i class="lnr lnr lnr-heart"></i>{{ single.hit }}  people viewed this post</a>
                                  

      							<a class="justify-content-center ml-auto" href="#"><i class="lnr lnr lnr-bubble"></i>{{ single.comment_count }} Comments</a>
      							<div class="news_socail ml-auto">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-youtube-play"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-rss"></i></a>
								</div>
      						</div>
                             
       					</div>
       					
                        </div>

                        <div class="comments-area">
                            <h4>{{ single.comment_count }} Comments</h4>
                            {% for comment in single.comments.all %}
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static 'img/blog/c1.jpg' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">{{ comment.name }}</a></h5>
                                            <p class="date">{{ comment.publishing_date }} </p>
                                            <p class="comment">
                                                {{ comment.content }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="reply-btn">
                                           <a href="" class="btn-reply text-uppercase">reply</a> 
                                    </div>
                                </div>
                            </div>	
                            {% endfor %}
                           	                                             				
                        </div>
                        <div class="comment-form">
                            <h4>Leave a Reply</h4>
                           {% crispy form %}
                        </div>
        			</div>
                   
                   {% include 'right_side.html' %}
        
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->


        {% endblock %}